data/**/* filter=lfs diff=lfs merge=lfs -text
*.pm linguist-detectable=false
*.txt linguist-detectable=false
* linguist-vendored
*.py linguist-vendored=false
data/** filter=lfs diff=lfs merge=lfs -text
